<nav-bar ng-value="'Quizes/Grupos'"></nav-bar>

<h2 style="margin: 40px 0 0 10%">Quizes</h2>
<div style="width: 100%; margin-left: 11%">
    <ul class="list-group" style="width: 80%; margin-top: 20px" aria-describedby="emailHelp">
        <li class="list-hover list-group-item d-flex justify-content-between align-items-center" ng-repeat="quiz in quizes track by $index" ng-click="manageQuiz($index)">
            <p>{{quiz.title}}</p>
            <div style="float: right;">
                <span class="badge badge-primary badge-pill" ng-click="okok = true;$event.stopPropagation()" style="cursor: pointer">{{quiz.answers}}</span>
                <input type="radio" class="form-check-input" name="activeRadio" ng-value="$index" ng-model="params.active" ng-click="setActive($index);$event.stopPropagation()" style="margin-left: 0">
                <button type="button" class="btn btn-info btn-sm" ng-click="duplicate($index);$event.stopPropagation()">x2</button>
            </div>
        </li>
    </ul>
    <small id="emailHelp" class="form-text text-muted" style="float: right; margin-right: 20%">Clique no botão radial para ativar o quiz.</small>
</div>

<div style="margin: 60px 5% 0 0; text-align: right; display: block">
    <button type="button" class="btn btn-primary" ng-click="createQuiz()">Criar um quiz</button>
    <button type="button" class="btn btn-secondary" ng-click="deactivateAll()">Desativar todos os quizes</button>
</div>

<h2 style="margin: 80px 0 0 10%">Grupos</h2>
<div style="width: 100%; margin-left: 11%">
    <ul class="list-group" style="width: 80%; margin-top: 20px">
        <!--<li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="group in groups track by $index" ng-click="getGroup($index)">-->
            <!--<p>{{quiz.title}}</p>-->
        <!--</li>-->
        <li class="list-hover list-group-item d-flex justify-content-between align-items-center" style="cursor: pointer" ng-repeat="group in groups" ng-click="manageGroup(group)">
            {{group.name}}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center" ng-if="params.showGroupInput">
            <input type="text" placeholder="nome do grupo" class="form-control" ng-model="groupName">
            <button type="button" class="btn btn-success" ng-click="createGroup(groupName)">
                Salvar
            </button>
        </li>

    </ul>
</div>

<div style="margin: 60px 5% 0 0; float: right; display: inline-block">
    <button type="button" class="btn btn-primary" style="margin-bottom: 50px" ng-click="params.showGroupInput = true">Criar um grupo</button>
</div>
